.dashboard {
  display: flex;
  justify-content: space-between;
  &__chat-container {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 30%;
    text-align: left;  
    z-index: 1;
    .chat-display {
      padding: 20px;
      height: 50vh;
      overflow-y: auto;
    }
    .chat-input {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }
    .chat-container-header {
      background: linear-gradient(45deg, rgba(254,48,114), rgba(255,89,64));
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .profile, .log-out-icon {
        display: flex;
        align-items: center;
        padding: 20px;
        color: rgb(255, 255, 255);
        &__img-container {
          width: 30px;
          height: 30px;
          margin: 10px;
          border-radius: 15px;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
      }
     
    }
    .option {
      border: none;
      background-color: rgb(255, 255, 255);
      border-bottom: solid 4px rgb(243, 33, 33);
      font-size: 20px;
      margin: 2px;
      padding: 10px;
      cursor: pointer;
      &:disabled {
        border-bottom: solid 4px rgb(181, 181, 181);
      }
    }
  }



  &__swipe-container {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .card-container {
      display: flex;
      justify-content: center;
      width: 400px;
      height: 500px;
      .swipe {
        position: absolute;
        .card {
          background-color: #fff;
          width: 80vw;
          max-width: 350px;
          height: 400px;
          box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 30%);
          border-radius: 20px;
          background-size: cover;
          background-position: center;
          h3 {
            margin-top: 0;
            text-align: center;
            color: rgb(231, 163, 163);
          }
        }
      }
    }
    .swipe-info {
      width: 100%;
      justify-content: center;
      display: flex;
      color: rgb(231, 119, 119);
      animation-name: popup;
      animation-duration: 800ms;
    }
  }
}

  @keyframes popup {
    0%   { transform: scale(1,1) }
    10%  { transform: scale(1.1,1.1) }
    30%  { transform: scale(.9,.9) }
    50%  { transform: scale(1,1) }
    57%  { transform: scale(1,1) }
    64%  { transform: scale(1,1) }
    100% { transform: scale(1,1) }
  }