.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(to bottom, rgba(0,0,0,0.65)0%, rgba(0,0,0,0)100%),
     url('../../assets/images/6e9794bcedeecf5a8f8f41338a2a7345.webp') no-repeat center center;
    background-size: cover;
}

.home {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__primery-title {
        font-size: 90px;
        text-align: center;
        width: 100%;
        color: rgb(255,255,255)
    }
}

.primary-button {
    color: #fff;
    text-transform: uppercase;
    font-size: 15;
    background: linear-gradient(45deg, rgba(254,48,114), rgba(255,89,64));
    padding: 12px 30px;
    border-radius: 30px;
    border: 0;
    transition: ease 0.2s;
    &:hover {
        background: linear-gradient(260deg, rgba(254,48,114), rgba(255,89,64));
    }
}