nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    width: 170px;
    margin: 15px;
    &__logo {
        display: flex;
        width: 100%;
    }
    &__nav-button {
        color: rgb(254,48,114);
        background-color: #fff;
        font-size: 20px;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
    }
}
