nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo-container {
    width: 170px;
    margin: 15px;
    &__logo {
        display: flex;
        width: 100%;
    }
    &__nav-button {
        margin: 15px;
        color: rgb(254,48,114);
        background-color: #fff;
        font-size: 20px;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        &:disabled {
            background-color: rgb(180,180,180);
            color: rgb(160,38,75);
        }
    }
}
