.auth-modal {
    position: absolute;
    top: 175px;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    // height: 400px;
    background: rgba(255,255,255);
    border-radius: 10px;
    padding: 30px;
    h2 {
        text-align: center;
        font-style: italic;
    }
    &__closeIcon {
        position: absolute;
        width: 7%;
        top: 0px;
        right: 0px;
        cursor: pointer;
        transition: ease .2s;
        &:hover {
            transform: rotate(-90deg);
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        input {
            padding: 15px;
            border: solid 2px rgb(121,119,119);
            border-radius: 20px;
            color: rgb(121,119,119);
            background-color: rgba(255,255,255);
            margin-bottom: 10px;
        }
    }
}

.secondary-button {
    color: rgb(121,119,119);
    background-color: rgba(255,255,255);
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 30px;
    border: solid 2px rgb(121,119,119);
    margin: 6px;
    cursor: pointer;
    transition: ease .2s;
    &:hover {
        color: rgb(48,48,48);
        border: solid 2px rgb(48,48,48);
    }
}